#pdp-review-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 60px;
  padding-left: 70px;
  padding-right: 60px;
}

.starsDiv {
  display: flex;
  flex-direction: row;
  gap: 1px;
  width: fit-content;
  height: fit-content;
}

.starDiv {
  width: 20px;
  height: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SortDropdown {
  position: absolute;
  top: 224px;
  left: 0;
}

.backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3); 
    backdrop-filter: blur(4px);           
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;                         
}

@media (max-width: 1300px) {
  #pdp-review-widget {
    max-width: 100vw;
    flex-wrap: wrap;
  }

  .container {
    width: 100%;
    flex-wrap: wrap;
  }
}