.productMain {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: max-content;
  gap: 0px 0px;
  grid-template-areas: ". .";
  width: 100%;
  margin-top: 60px;
  justify-items: center;
}

.imagesDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 783px;
  height: fit-content;
  gap: 20px;
  flex-wrap: wrap;
}
.mainImage {
  height: fit-content;
  width: fit-content;
  padding: 20px;
  gap: 10px;
}

.mainImage img {
  max-width: 743px;
  max-height: 680px;
}

.listedImage {
  width: 166px;
  height: 166px;
}

.listedImage:hover {
  cursor: pointer;
  scale: 1.01;
}

.productContent {
  display: flex;
  flex-direction: column;
  width: 523px;
  height: fit-content;
  padding: 0;
  gap: 32px;
  color: #000000;
}

.contentHeader {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  gap: 8px;
}

.productName {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 34px;
  width: 100%;
  height: fit-content;
}

.productPrice {
  height: fit-content;
  width: 390px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 28px;
  line-height: 140%;
  letter-spacing: 0%;
}

.productDescriptionContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  gap: 10px;
}

.contentReviews {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  gap: 3px;
}

.reviewCount {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  width: fit-content;
  height: fit-content;
}

.productDescription {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  letter-spacing: 0%;
  width: 523px;
  height: fit-content;
  transition: background-color 0.3s ease;
}

.addToCartButton {
  background: #9f3419;
  border: none;
  border-radius: 9999px;
  width: 100%;
  height: 52px;
  font-weight: 500;
  cursor: pointer;
  font-size: 24px;
  color: #ccc;
  transition: background-color 0.2s, transform 0.1s;

}

.addToCartButton:hover {
  background-color: #7b241c;
}

.openReview:active {
  background-color: #973019;
}

@media (max-width: 1300px) {
  .productMain {
    max-width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: max-content;
    grid-template-areas: none;
    gap: 0px 0px;
    width: 100%;
    margin-top: 10px;
    justify-items: center;
  }
  .mainImage img {
    max-width: 90vw;
  }

  .listedImage {
    display: none;
  }

  .productContent {
    width: 100%;
    align-items: center;
    gap: 9px;
  }

  .productContent div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .contentHeader {
    text-align: center;
  }

  .productDescription {
    text-align: center;
  }

  .addToCartButton {
    width: 50%;
    font-size: 19px;
  }

  .productDescription {
    flex-wrap: wrap;
    width: 85%;
  }

  .productDescriptionContent {

    width: 100vw;
  }

}