.mainSection {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  padding-right: 300px;
  padding-left: 300px;
  gap: 60px;
  width: 100%;
  height: fit-content;
  align-items: center;
  position: relative;
}

.headerP {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 31px;
  line-height: 120%;
  letter-spacing: 0.8%;
  text-align: center;
  width: fit-content;
  height: fit-content;
  margin-top: 0;
}

.reviewsContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  gap: 40px;
  padding: 0;
}

.contentHeader {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.currentReviewsMaxes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
  height: 100%;
}

.currentStarCount {
  display: flex;
  flex: row;
  gap: 1px;
  width: fit-content;
  height: fit-content;
  justify-content: center;
}

.reviewsCount {
  display: flex;
  padding: 0;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #7c7e7c;
}

.reviewbrakedown {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: fit-content;
  height: fit-content;
}

.openReview {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 13px;
  width: 186px;
  height: fit-content;
  background: #9f3419;
  border: none;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 15px;
  line-height: 110.00000000000001%;
  letter-spacing: 1px;
  color: #FDFEFD;
}
